<div id="container">
</div>
<script>
    var json = buildSigmaGraph(nuskhaExpression);
    s = new sigma({
        graph: json,
        container: 'container',
        renderer: {
            container: document.getElementById('container'),
            type: 'canvas'
        },
        settings: {
            edgeColor: 'default',
            defaultNodeColor: '#065a8f',
            //minNodeSize: 8,
            //maxNodeSize: 8
        }
    });

    //s.startForceAtlas2();
    s.start
</script>