<!DOCTYPE html>
<html>
<head>
  <title>Nuskha</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">nuskha</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>NUS·KHA  नुस्खा</h1>
            <h3>/nuskhā/</h3>
            <h5>noun</h5>
            <p class="lead">1. Hindi for “recipe”.</p>
            <p class="lead text-warning">2. A domain-specific programming language for the graphical representation of recipes.</p>
            <p></p>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6">
          	<!-- put an image or smth -->
          </div>
        </div>
      </div>

      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="recipe-title">Recipe Title</h1>
            </div>
          </div>
        </div>
			   <%= yield %>
        </div>
        

     

      <footer>
      </footer>


    </div>

  </body>
</html>
